{% extends 'content.html.twig' %}


{% block content %}
        <h2>Premere qui per visualizzare la lista Json</h2>
          <button id="updateJson" class="btn btn-info">carica Json</button>
        <ul class="listaAggiornata">
        
        </ul>

        <div class="container"> 
                     <div class="row"> 
                          <div class="col-sm-6"> 
                        <button class="btn btn-info"><a href="{{path("contattaci")}}">Torna all Home!!</a></button>
                                <h2></h2>
                            </div>
                    </div>
                  </div>

     
{% endblock %}
